@font-face {
  font-family: 'PretendardVariable'; 
  src: url('./fonts/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PretendardVariable';
}

button {
  font-family: 'PretendardVariable'; 
}

input {
  font-family: 'PretendardVariable'; 
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  background-color: #ffffff00;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}