@font-face {
  font-family: 'PretendardVariable'; 
  src: url('./fonts/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PretendardVariable';
}

button {
  font-family: 'PretendardVariable'; 
}